$clr-bg: radial-gradient(ellipse at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
$clr-tpWhite: hsla(0, 0%, 100%, .3);
$clr-darktext: hsl(229, 25%, 31%);
$clr-scoretext: hsl(229, 64%, 46%);
$circle-size: 100px;

$clr-paper: hsl(230, 89%, 62%);
$clr-paperDark: hsl(230, 79%, 48%);

$clr-scissors: hsl(39, 89%, 49%);
$clr-scissorsDark: hsl(39, 79%, 25%);

$clr-rock: hsl(349, 71%, 52%);
$clr-rockDark: hsl(349, 61%, 40%);
