/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-width: 100%;
  min-height: 100%;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
  background: radial-gradient(ellipse at top, #1f3756, #141539);
  background-repeat: no-repeat;
  padding: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  min-height: 100vh;
  position: relative;
}

.header {
  max-width: 700px;
  margin: 0 auto;
  border: 0.3rem solid rgba(255, 255, 255, 0.3);
  border-radius: .5rem;
  padding: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title img {
  width: 60%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__score {
  background-color: white;
  border-radius: .5rem;
  padding: .5rem 1rem;
}

.header__score p:first-child {
  color: #2a46c0;
  text-align: center;
  font-size: .8rem;
  font-weight: 600;
}

.header__score p:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #3b4363;
  font-size: 3rem;
  font-weight: 700;
}

.main {
  position: relative;
}

.main__triangle {
  width: calc(100% - 130px);
  max-width: 400px;
  aspect-ratio: 1;
  margin: 83.33333px auto 140px auto;
  background-image: url("../images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
  position: relative;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  cursor: pointer;
  -webkit-box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.3), 0 0 0 1rem white, 0 5px 0 1rem rgba(255, 255, 255, 0.3);
          box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.3), 0 0 0 1rem white, 0 5px 0 1rem rgba(255, 255, 255, 0.3);
}

@media screen and (min-width: 500px) {
  .circle {
    height: 150px;
    width: 150px;
  }
}

.circle img {
  width: 70%;
  height: 70%;
  -o-object-fit: contain;
     object-fit: contain;
  pointer-events: none;
}

.circle.c1 {
  top: -50px;
  left: -50px;
  -webkit-box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.3), 0 0 0 1rem #4865f4, 0 5px 0 1rem #1a3adb;
          box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.3), 0 0 0 1rem #4865f4, 0 5px 0 1rem #1a3adb;
}

.circle.c2 {
  top: -50px;
  right: -50px;
  -webkit-box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.3), 0 0 0 1rem #ec9e0e, 0 5px 0 1rem #724f0d;
          box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.3), 0 0 0 1rem #ec9e0e, 0 5px 0 1rem #724f0d;
}

.circle.c3 {
  bottom: -50px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.3), 0 0 0 1rem #dc2e4e, 0 5px 0 1rem #a4283f;
          box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.3), 0 0 0 1rem #dc2e4e, 0 5px 0 1rem #a4283f;
}

.circle.empty {
  -webkit-animation: queueAnswer .5s linear 0s infinite alternate;
          animation: queueAnswer .5s linear 0s infinite alternate;
}

.circle:not(:last-child):active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-tap-highlight-color: transparent;
}

.circle:last-child:active {
  -webkit-transform: translateX(50%) translateY(3px);
          transform: translateX(50%) translateY(3px);
  -webkit-tap-highlight-color: transparent;
}

@-webkit-keyframes queueAnswer {
  0% {
    -webkit-box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.3), 0 0 0 1rem #4865f4, 0 5px 0 1rem #1a3adb;
            box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.3), 0 0 0 1rem #4865f4, 0 5px 0 1rem #1a3adb;
    background-image: url("../images/icon-paper.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
  }
  50% {
    -webkit-box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.3), 0 0 0 1rem #ec9e0e, 0 5px 0 1rem #724f0d;
            box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.3), 0 0 0 1rem #ec9e0e, 0 5px 0 1rem #724f0d;
    background-image: url("../images/icon-scissors.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
  }
  100% {
    -webkit-box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.3), 0 0 0 1rem #dc2e4e, 0 5px 0 1rem #a4283f;
            box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.3), 0 0 0 1rem #dc2e4e, 0 5px 0 1rem #a4283f;
    background-image: url("../images/icon-rock.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@keyframes queueAnswer {
  0% {
    -webkit-box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.3), 0 0 0 1rem #4865f4, 0 5px 0 1rem #1a3adb;
            box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.3), 0 0 0 1rem #4865f4, 0 5px 0 1rem #1a3adb;
    background-image: url("../images/icon-paper.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
  }
  50% {
    -webkit-box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.3), 0 0 0 1rem #ec9e0e, 0 5px 0 1rem #724f0d;
            box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.3), 0 0 0 1rem #ec9e0e, 0 5px 0 1rem #724f0d;
    background-image: url("../images/icon-scissors.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
  }
  100% {
    -webkit-box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.3), 0 0 0 1rem #dc2e4e, 0 5px 0 1rem #a4283f;
            box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.3), 0 0 0 1rem #dc2e4e, 0 5px 0 1rem #a4283f;
    background-image: url("../images/icon-rock.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.fight,
.result {
  padding: 50px 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: calc(700px - 2rem);
  margin: 0 auto;
}

.fight .circle,
.result .circle {
  position: relative;
  -webkit-transform: unset;
          transform: unset;
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
}

.fight .circle:active,
.result .circle:active {
  -webkit-transform: unset;
          transform: unset;
}

.fight__control,
.result__control {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  margin-top: 50px;
}

footer {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

footer button {
  border: 0.3rem solid rgba(255, 255, 255, 0.3);
  border-radius: .5rem;
  padding: .5rem 1rem;
  background: none;
  cursor: pointer;
  color: white;
  font-weight: 600;
}

footer button:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-tap-highlight-color: transparent;
}
/*# sourceMappingURL=App.css.map */